#header {
    margin-bottom: 0;
}

#header, #progress {
    background-color: #eee;
}

#progress {
    height: 10px;
    border-radius: 0;
    -webkit-box-shadow: none; 
    box-shadow: none; 
}

.btn:focus {
    outline: none;
}

label{
    margin: 10px 0;
}

input[type="checkbox"]{
    margin: 5px;
}

table.tasks {
    width: 100%;
}

table.tasks tr {
    cursor: pointer;
}

table.tasks tr td {
    border-bottom : 1px solid #f5f5f5;
}

table.tasks tr.add-new {
    cursor: default;
}

table.tasks tr.divider {
    text-align: center;
}

table.tasks tr.divider div.actions{
    visibility: hidden;
}

table.tasks tr.divider div.action.action-delete{
    visibility: visible;
}

table.tasks tr td.name {
    width: 100%;
}

table.tasks tr td.name span {
    display: inline-block;
    padding: .5em;
}

table.tasks tr td.name span.active {
}

table.tasks tr td.name span.finished{
    text-decoration: line-through;
}

table.tasks tr div.actions{
    opacity: 0;
    color: #ddd;
    padding: 10px 0 0 10px;
    cursor: pointer;
    float: right;
}

table.tasks tr.active div.actions {
    opacity:1;
}

table.tasks tr:hover div.actions {
    opacity: 1;
}

table.tasks tr:hover div.action:hover {
    color: #444;
}

table.tasks tr:hover div.action-delete:hover {
    color: red;
}

table.tasks tr td input{
    width: 100%;
    padding: .55em;
    border: 0;
}
