table.tasks {
    width: 100%;
}

table.tasks tr {
    cursor: pointer;
}

table.tasks tr {
    border-bottom : 1px solid #eee;
}


table.tasks tr.add-new {
    cursor: default;
}

table.tasks td.name {
    width: 80%;
}

table.tasks td.name span {
    display: block;
    padding: .5em;
}

table.tasks td div.progress{
    margin-bottom: 0;
}
